.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 50rem;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 3rem 3rem 3rem;
  background-color: var(--color-midnight-blue-darker);
  font-size: 0.9rem;
  row-gap: 1.5rem;
}

.title {
  font-size: 1.2rem;
}

.progress_container {
  width: 100%;
  padding: 2rem 3rem 3rem 3rem;
  background-color: var(--color-light-blue-dimmed);
  font-size: 0.7rem;
  border-radius: 0.3rem;
}

.colored_bottom_blue {
  width: 100%;
  height: 0.5rem;
  background-color: #36b3ff;
  border-radius: 0 0 0.3rem 0.3rem;
  transform: translateY(-0.5rem);
}

.colored_bottom_turquoise {
  width: 100%;
  height: 0.5rem;
  background-color: #4be297;
  border-radius: 0 0 0.3rem 0.3rem;
  transform: translateY(-0.5rem);
}
.colored_bottom_green {
  width: 100%;
  height: 0.5rem;
  background-color: #7ecc40;
  border-radius: 0 0 0.3rem 0.3rem;
  transform: translateY(-0.5rem);
}
