:root {
  --color-midnight-blue: #22294c;
  --color-midnight-blue-darker: #1b1f3b;
  --color-midnight-blue-darkest: #0f1429;
  --color-lime-green: #82ef53;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
  color: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-midnight-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
