.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-midnight-blue);
  margin-top: 4rem;
}

.toxhawk_logo_text {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-bottom: 8rem;
}
