.footer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-midnight-blue-darkest);
}

.logo_small {
  height: auto;
  width: auto;
}
